body {
  margin: 5px;
  padding: 0px;
  font-family: rubik;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 2px solid gainsboro;
  border-bottom: 2px solid gainsboro;
  height: 55px;
}

.left-side {
  display: flex;
  gap: 10px;
}

.left-side button {
  height: 35px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.dash {
  height: 25px;
}

.rumble {
  height: 35px;
}
.flash {
  height: 15px;
}

.search-input {
  display: flex;
  width: 100%;
  height: 35px;
  flex-grow: 1;
  border: 2px solid #e4e8ec;
  box-sizing: border-box;
  outline: none;
  border-radius: 10px;
}

.right-side {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-right: 20px;

}

.addfree {
  display: flex;
  align-items: center;
  border: 2px solid rgba(214, 224, 234, 1);
  font-family: rubik;
  font-weight: 600;
  background-color: white;
  height: 40px;
  margin: 5px 10px 5px 10px;
  border-radius: 7px;
  
}

.signin {
  display: flex;
  align-items: center;
  background-color: rgba(214, 224, 234, 1);
  font-family: rubik;
  font-weight: 600;
  height: 40px;
  margin: 5px 10px 5px 10px;
  border-radius: 18px;
  border: none;
  padding: 10px 10px 10px 10px ;

}

.signup {
  display: flex;
  align-items: center;
  background-color: white;
  font-family: rubik;
  font-weight: 600;
  height: 40px;
  margin: 5px 10px 5px 10px;
  border-radius: 18px;
  border: 2px solid #85c742;
  padding: 10px 10px 10px 10px ;

}

.tags {
  margin-top: 15px;
  height: 30px;
  gap: 15px;
}